@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';

.header-div {
    background: #FFEDE1;
    border: 1px solid rgba(10, 54, 119, 0.05);
    border-radius: 12px;
    padding: 10px;
}

.padding-custoum {
    padding: 15px;
}

.doc-download {
    border: 1px solid #AFCBFF;
    box-shadow: 0px 30px 39px rgba(0, 0, 0, 0.02);
    border-radius: 12px;
}
.border{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 600px) {
    .display-flex {
        display: block;
    }
    .mobile-icon{
        margin-right: 10px;
    }
    
}