<div>
  <h4 class="font-bold mb-2">Upload Document</h4>

  <form #accountDetailsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-12">
        <fieldset>
          <label for="file-upload-single" class="Fo-14">Document *</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input input-form" type="file" ng2FileSelect id="file-upload-single" />
            <label class="custom-file-label input-form">Please choose file</label>
          </div>
          <span class="Fo-12">Accepted files types ( png, jpg, pdf )</span>
        </fieldset>
      </div>
    </div>


  </form>
</div>