<div>


  <div class="header-div mb-1">
    <span class="pl-md-1 pt-md-1">Done!</span>
    <label class="form-label pl-md-1 pl-0 col-md-12 mb-md-1 Fo-16 font-bold">Review loan agreement</label>
  </div>
  <div class="row padding-custoum">
    <span>
      Lörem ipsum lavis ossade. Lagt månat sagugt. Spenäst van, ifall heteronde. Krorade padat prodåren kror. Besade
      dent astrodiktisk.
      Galigt plalingar i diska, saväling sosaling. Geongar der. Milogi viligen povis: speskade divis. Nivängar nän
      Bamseteorem syssna. Devänar demotyp.
      Kuratera bes dolel om julgranssyndrom reruvis. Mide fuse. Kros vana. Terad tir i kakrosk kast. Oktigt horuhor.
      Krosm ton resangen. Gigekonomi difadona, och niföv konosmos. Måsad fament blogg. Ade tede. Vuling uggling föck
      till vel nerar.
      Hotrevis vävänint. Epiktig gihet hexatt den dida, för att degt. Valpromenera husonde. Gimähet val. Ir trede,
      alltså vit.
      Nyr heterodat. Tetrall alogi viligt fast vinade för att kron. Mäde previskap. Nesade planas kaplavis och föskap om
      bick. Sugen kronat fast ming emedan ser epir.
      Pseudona bes astrotingen även om vider. Krod ogon. Preppare digon tjejkött det vill säga dorerade. Oning vapp
      vira. Bere ninade sasamma kohesk.
      Koktig kontral friva fonotopi. Degessa kad inklusive lust. Oväkovis. Gining monovis kror sasaviskade. Tranebelt
      supraseledes dobelt vagon: om soskade.
      TriAvasddsdrugisk al krod än metrotologi deliga. Dining ekodukt, tede sedan astromäss mänade. Paranas presegt
      doss. Vinidat tigt. Klimathot ultras pegon.
      Semideheten lanade nist. Vurar heterosm mikrotris dede i kroposm. Dide hens potyl, inte epide mining. Dianäd ADV.
      Valiga popcornhjärna: inte fösade sped.
      Euroktigt lare pybel inte plasål dede. Temäledes speben utom podening posa tev. Terrabel sperade fyr. Eling gur
      saskapet, heterol. Sur fygunde.
      Hexanera måtyment, uhussa nins. Bebel elektrocentrism. Fönat misade ålass viliga lassa. Analebel bogisk och
      mikrora. Prologi kasade trise.
      Klimatmat. Sode måren liksom kagen. Pseudokalig dogen. Lul ohutiskapet. Dengen medborgarforskning att gångpeng:
      plarar.
      Eugisk posm. Plalig växtmjölk. Slöjböter test. Fer garas. Fera nägunde reassa infravis krok.
      Predogan unade medan trel i mävis Ikeamonarki. Sefad benira. Friva nidyheledes i diktigt. Prepalingar dyn
      tvillingshoppare anade. Krogasamma multibel.
      Krogt sahenera tyl ys att prek. Kasålingar sadorar. Dekategt dohet medborgarjournalistik i hyberavdrag. Paraskapet
      pneumafaktisk treförat mikrolig pasamma. Teren.
      Åde eldost medan pelogi. Plalig vidång, utom tyr teling. Väs övis i teskap trer då kadonat. Er hesade för vid bev.
      Avinvestera euronade ultragusamma fynde fusat.
      Nidonat kavis sper. Teotes plade kroras, än olig. Måskade enas men falulig nyteskade. Or utvigning. Bloppa vil
      renade holig, social distansering.
      Luras sarar stuprörspolitik sagerad, parafas. Epigynat ogooglebar utom presagt. Minar tir. Larat nesam benera.
      Usade fylogi, för mononomi.
      Väpöda antidona, i nygt. Stenock ode, respektive ack orade. Feholing kroskap, biv readosamma. Selfie lar
      medelfoni, rent. Panat krogen fastän gen.
      Öling peligt sonär ledade. Hembränd nyv vägt om alingar vavegen. Pamåvis astror. Aren poren dolig såväl som egt
      kronärat. Retirade sussade.
    </span>
  </div>

  <div class="doc-download mb-2">
    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Review loan agreement</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3">
        <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
    </div>
   
    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Review loan agreement</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3 ">
        <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Review loan agreement</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3 ">
        <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
    </div>


  </div>




  <div class="row">
    <div class="justify-content-between col-md-12">
      <button (click)="horizontalWizardStepperBack()" class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block ">Previous</span>
      </button>

      <button (click)="horizontalWizardStepperNext()" type="submit"
        class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
        <span class="align-middle d-sm-inline-block ">Next</span><i data-feather="arrow-right"
          class="align-middle ml-sm-25 ml-0"></i>
      </button>
    </div>
  </div>

</div>