.m5 {
    margin-top: 5px;
}

.m6 {
    margin-top: 6px;
}

.m7 {
    margin-top: 7px;
}

.m8 {
    margin-top: 8px;
}

.m9 {
    margin-top: 9px;
}

.m10 {
    margin-top: 10px;
}

.m11 {
    margin-top: 11px;
}

.m12 {
    margin-top: 12px;
}

.m13 {
    margin-top: 13px;
}

.m14 {
    margin-top: 14px;
}

.m15 {
    margin-top: 15px;
}

.m16 {
    margin-top: 16px;
}

.m17 {
    margin-top: 17px;
}

.m18 {
    margin-top: 18px;
}

.m19 {
    margin-top: 19px;
}

.m20 {
    margin-top: 20px;
}

.m21 {
    margin-top: 21px;
}
.m22{
    margin-top: 22px;
}
.m23{
    margin-top: 23px;
}
.m24{
    margin-top: 24px;
}
.m25{
    margin-top: 25px;
}
.m26{
    margin-top: 26px;
}
.m27{
    margin-top: 27px;
}
.m28{
    margin-top: 28px;
}
.m29{
    margin-top: 29px;
}
.m30{
    margin-top: 30px;
}
.m31{
    margin-top: 31px;
}
.m32{
    margin-top: 32px;
}
.m33{
    margin-top: 33px;
}
.m34{
    margin-top: 34px;
}
.m35{
    margin-top: 35px;
}
.m36{
    margin-top: 36px;
}
.m37{
    margin-top: 37px;
}
.m38{
    margin-top: 38px;
}

.m41{
    margin-top: 41px;
}


.m48{
    margin-top: 48px;
}
.m119{
    margin-top: 119px;
}
.m177{
    margin-top: 177px;
}


.mb48{
    margin-bottom: 48px;
}
.mb45{
    margin-bottom: 45px;
}

@media only screen and (max-width: 600px) {
    .m-m0{
        margin-top: 0px;
    }
    .m-m5 {
        margin-top: 5px;
    }
    
    .m-m6 {
        margin-top: 6px;
    }
    
    .m-m7 {
        margin-top: 7px;
    }
    
    .m-m8 {
        margin-top: 8px;
    }
    
    .m-m9 {
        margin-top: 9px;
    }
    
    .m-m10 {
        margin-top: 10px;
    }
    
    .m-m11 {
        margin-top: 11px;
    }
    
    .m-m12 {
        margin-top: 12px;
    }
    
    .m-m13 {
        margin-top: 13px;
    }
    
    .m-m14 {
        margin-top: 14px;
    }
    
    .m-m15 {
        margin-top: 15px;
    }
    
    .m-m16 {
        margin-top: 16px;
    }
    
    .m-m17 {
        margin-top: 17px;
    }
    
    .m-m18 {
        margin-top: 18px;
    }
    
    .m-m19 {
        margin-top: 19px;
    }
    
    .m-m20 {
        margin-top: 20px;
    }
    
    .m-m21 {
        margin-top: 21px;
    }
    .m-m22{
        margin-top: 22px;
    }
    .m-m23{
        margin-top: 23px;
    }
    .m-m24{
        margin-top: 24px;
    }
    .m-m25{
        margin-top: 25px;
    }
    .m-m26{
        margin-top: 26px;
    }
    .m-m27{
        margin-top: 27px;
    }
    .m-m28{
        margin-top: 28px;
    }
    .m-m29{
        margin-top: 29px;
    }
    .m-m30{
        margin-top: 30px;
    }
    .m-m31{
        margin-top: 31px;
    }
    .m-m32{
        margin-top: 32px;
    }
    .m-m33{
        margin-top: 33px;
    }
    .m-m34{
        margin-top: 34px;
    }
    .m-m35{
        margin-top: 35px;
    }
    .m-m36{
        margin-top: 36px;
    }
    .m-m37{
        margin-top: 37px;
    }
    .m-m38{
        margin-top: 38px;
    }
    
    .m-m41{
        margin-top: 41px;
    }
    
    
    .m-m48{
        margin-top: 48px;
    }
    
    .m-m117{
        margin-top: 117px;
    }




    .mb-m48{
        margin-bottom: 48px;
    }
    .mb-m45{
        margin-bottom: 45px;
    }
}