.pt5 {
    padding-top: 5px;
}

.pt6 {
    padding-top: 6px;
}

.pt7 {
    padding-top: 7px;
}

.pt8 {
    padding-top: 8px;
}

.pt9 {
    padding-top: 9px;
}

.pt10 {
    padding-top: 10px;
}

.pt11 {
    padding-top: 11px;
}

.pt12 {
    padding-top: 12px;
}

.pt13 {
    padding-top: 13px;
}

.pt14 {
    padding-top: 14px;
}

.pt15 {
    padding-top: 15px;
}

.pt16 {
    padding-top: 16px;
}

.pt17 {
    padding-top: 17px;
}

.pt18 {
    padding-top: 18px;
}

.pt19 {
    padding-top: 19px;
}

.pt20 {
    padding-top: 20px;
}

.pt21 {
    padding-top: 21px;
}

.pt22 {
    padding-top: 22px;
}

.pt23 {
    padding-top: 23px;
}

.pt24 {
    padding-top: 24px;
}

.pt25 {
    padding-top: 25px;
}

.pt26 {
    padding-top: 26px;
}

.pt27 {
    padding-top: 27px;
}

.pt28 {
    padding-top: 28px;
}

.pt29 {
    padding-top: 29px;
}

.pt30 {
    padding-top: 30px;
}

.pt31 {
    padding-top: 31px;
}

.pt32 {
    padding-top: 32px;
}

.pt33 {
    padding-top: 33px;
}

.pt34 {
    padding-top: 34px;
}

.pt35 {
    padding-top: 35px;
}

.pt36 {
    padding-top: 36px;
}

.pt37 {
    padding-top: 37px;
}

.pt38 {
    padding-top: 38px;
}


.pt42 {
    padding-top: 58px;
}

.pt48 {
    padding-top: 48px;
}

.pt58 {
    padding-top: 58px;
}




////

.pl5 {
    padding-left: 5px;
}

.pl6 {
    padding-left: 6px;
}

.pl7 {
    padding-left: 7px;
}

.pl8 {
    padding-left: 8px;
}

.pl9 {
    padding-left: 9px;
}

.pl10 {
    padding-left: 10px;
}

.pl11 {
    padding-left: 11px;
}

.pl12 {
    padding-left: 12px;
}

.pl13 {
    padding-left: 13px;
}

.pl14 {
    padding-left: 14px;
}

.pl15 {
    padding-left: 15px;
}

.pl16 {
    padding-left: 16px;
}

.pl17 {
    padding-left: 17px;
}

.pl18 {
    padding-left: 18px;
}

.pl19 {
    padding-left: 19px;
}

.pl20 {
    padding-left: 20px;
}

.pl21 {
    padding-left: 21px;
}

.pl22 {
    padding-left: 22px;
}

.pl23 {
    padding-left: 23px;
}

.pl24 {
    padding-left: 24px;
}

.pl25 {
    padding-left: 25px;
}

.pl26 {
    padding-left: 26px;
}

.pl27 {
    padding-left: 27px;
}

.pl28 {
    padding-left: 28px;
}

.pl29 {
    padding-left: 29px;
}

.pl30 {
    padding-left: 30px;
}

.pl31 {
    padding-left: 31px;
}

.pl32 {
    padding-left: 32px;
}

.pl33 {
    padding-left: 33px;
}

.pl34 {
    padding-left: 34px;
}

.pl35 {
    padding-left: 35px;
}

.pl36 {
    padding-left: 36px;
}

.pl37 {
    padding-left: 37px;
}

.pl38 {
    padding-left: 38px;
}

.pl39 {
    padding-left: 39px;
}

.pl40 {
    padding-left: 40px;
}

.pl56 {
    padding-left: 56px;
}


.pl58 {
    padding-left: 58px;
}



.pr57 {
    padding-right: 57px;
}


@media only screen and (max-width: 600px) {
    .pt-m-0 {
        padding-top: 0px;
    }
    .pt-m-5 {
        padding-top: 5px;
    }

    .pt-m-6 {
        padding-top: 6px;
    }

    .pt-m-7 {
        padding-top: 7px;
    }

    .pt-m-8 {
        padding-top: 8px;
    }

    .pt-m-9 {
        padding-top: 9px;
    }

    .pt-m-10 {
        padding-top: 10px;
    }

    .pt-m-11 {
        padding-top: 11px;
    }

    .pt-m-12 {
        padding-top: 12px;
    }

    .pt-m-13 {
        padding-top: 13px;
    }

    .pt-m-14 {
        padding-top: 14px;
    }

    .pt-m-15 {
        padding-top: 15px;
    }

    .pt-m-16 {
        padding-top: 16px;
    }

    .pt-m-17 {
        padding-top: 17px;
    }

    .pt-m-18 {
        padding-top: 18px;
    }

    .pt-m-19 {
        padding-top: 19px;
    }

    .pt-m-20 {
        padding-top: 20px;
    }

    .pt-m-21 {
        padding-top: 21px;
    }

    .pt-m-22 {
        padding-top: 22px;
    }

    .pt-m-23 {
        padding-top: 23px;
    }

    .pt-m-24 {
        padding-top: 24px;
    }

    .pt-m-25 {
        padding-top: 25px;
    }

    .pt-m-26 {
        padding-top: 26px;
    }

    .pt-m-27 {
        padding-top: 27px;
    }

    .pt-m-28 {
        padding-top: 28px;
    }

    .pt-m-29 {
        padding-top: 29px;
    }

    .pt-m-30 {
        padding-top: 30px;
    }

    .pt-m-31 {
        padding-top: 31px;
    }

    .pt-m-32 {
        padding-top: 32px;
    }

    .pt-m-33 {
        padding-top: 33px;
    }

    .pt-m-34 {
        padding-top: 34px;
    }

    .pt-m-35 {
        padding-top: 35px;
    }

    .pt-m-36 {
        padding-top: 36px;
    }

    .pt-m-37 {
        padding-top: 37px;
    }

    .pt-m-38 {
        padding-top: 38px;
    }


    .pt-m-42 {
        padding-top: 58px;
    }

    .pt-m-48 {
        padding-top: 48px;
    }

    .pt-m-58 {
        padding-top: 58px;
    }
    .pt-m-72 {
        padding-top: 72px;
    }



    ////
    ///     
    .pl-m-0 {
        padding-left: 0px;
    }

    .pl-m-5 {
        padding-left: 5px;
    }

    .pl-m-6 {
        padding-left: 6px;
    }

    .pl-m-7 {
        padding-left: 7px;
    }

    .pl-m-8 {
        padding-left: 8px;
    }

    .pl-m-9 {
        padding-left: 9px;
    }

    .pl-m-10 {
        padding-left: 10px;
    }

    .pl-m-11 {
        padding-left: 11px;
    }

    .pl-m-12 {
        padding-left: 12px;
    }

    .pl-m-13 {
        padding-left: 13px;
    }

    .pl-m-14 {
        padding-left: 14px;
    }

    .pl-m-15 {
        padding-left: 15px;
    }

    .pl-m-16 {
        padding-left: 16px;
    }

    .pl-m-17 {
        padding-left: 17px;
    }

    .pl-m-18 {
        padding-left: 18px;
    }

    .pl-m-19 {
        padding-left: 19px;
    }

    .pl-m-20 {
        padding-left: 20px;
    }

    .pl-m-21 {
        padding-left: 21px;
    }

    .pl-m-22 {
        padding-left: 22px;
    }

    .pl-m-23 {
        padding-left: 23px;
    }

    .pl-m-24 {
        padding-left: 24px;
    }

    .pl-m-25 {
        padding-left: 25px;
    }

    .pl-m-26 {
        padding-left: 26px;
    }

    .pl-m-27 {
        padding-left: 27px;
    }

    .pl-m-28 {
        padding-left: 28px;
    }

    .pl-m-29 {
        padding-left: 29px;
    }

    .pl-m-30 {
        padding-left: 30px;
    }

    .pl-m-31 {
        padding-left: 31px;
    }

    .pl-m-32 {
        padding-left: 32px;
    }

    .pl-m-33 {
        padding-left: 33px;
    }

    .pl-m-34 {
        padding-left: 34px;
    }

    .pl-m-35 {
        padding-left: 35px;
    }

    .pl-m-36 {
        padding-left: 36px;
    }

    .pl-m-37 {
        padding-left: 37px;
    }

    .pl-m-38 {
        padding-left: 38px;
    }

    .pl-m-39 {
        padding-left: 39px;
    }

    .pl-m-40 {
        padding-left: 40px;
    }

    .pl-m-56 {
        padding-left: 56px;
    }


    .pl-m-58 {
        padding-left: 58px;
    }


    .pr-m-0{
        padding-right: 0px !important;
    }
    .pr-m-24 {
        padding-right: 24px;
    }
}