/*================================================================================
	Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
@font-face {
	font-family: "DM Sans";
	src: local("DM Sans"), url(../fonts/dm-sans/DMSans-Regular.ttf) format("truetype");
}

@font-face {
	font-family: "DM Sans bold";
	src: local("DM Sans"), url(../fonts/dm-sans/DMSans-Bold.ttf) format("truetype");
}

* {
	font-family: 'DM Sans' !important;
}

// a{
// 	font-weight: $font-weight-normal;
// 	color: $primary-color;
// }
.text-primary {
	color: $primary-color  !important;
}

.line-border {
	margin: auto;
	opacity: 0.2;
	border-bottom: 1px solid #AFCBFF;
}

.line-border-shadow {
	border: 1px solid rgba(10, 54, 119, 0.05);
	box-shadow: 0px 30px 39px rgba(0, 0, 0, 0.02);
}

.w-80 {
	width: 80%;
}

.w-100 {
	width: 100%;
}
.Fo-16{
	font-size: 16px;
}
.Fo-14{
	font-size: 14px;
}
.Fo-12{
	font-size: 12px;
}
.FW-700{
	font-weight: 700;
}
.cursor {
	cursor: pointer;
}
.primary-color {
    color: #0A3677;
}
.normal-color {
    color: #2D3137;
}
.red-color{
    color: #FC6DAB;
}
.bold-color{
	color: #000000
}
.font-bold {
	font-family: "DM Sans bold" !important;
}

.heddin {
	visibility: hidden;
}

.btn-reverse {
	float: right;
}

.lable-form {
	font-size: 14px;
}
.text-center{
	text-align: center;
}
.display-flex{
	display: flex;
}
.input-form {
	background: #FCFDFF;
	border: 1px solid rgba(175, 203, 255, 0.5);
	border-radius: 8px;
}
@media only screen and (max-width: 600px) {
    .mobile-btn-p-next{
        padding-left: 15%;
        padding-right: 15%;
    }
    .mobile-btn-p-back{
        padding-left: 10%;
        padding-right: 10%;
    }
}