@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';



.info {
    background: #FCFDFF;
    border: 1px solid rgba(10, 54, 119, 0.05);
    border-radius: 12px;
}
.info-tit{
    padding: 32px;
}

.accordion {
    background: #FCFDFF !important;
}

.slider-div {
    background: #FFFFFF;
    border: 1px solid #AFCBFF;
    box-shadow: 0px 30px 39px rgba(0, 0, 0, 0.02);
    border-radius: 12px;
    padding-left: 20px;
}

.slider-item {
    padding: 30px;
}
.custom-checkbox{
    margin-top: 15px;
}
.custom-control-label{
    text-align: left;
}
.select-dev{
    text-align: left;
}
.back-butn {
    background: #FFFFFF;
border: 1px solid rgba(45, 49, 55, 0.1) !important;
border-radius: 8px;
}
.alert-body-message{
    padding: 24px 24px 28px 24px;
    background: rgba(100, 226, 145, 0.25) !important;
    border-radius: 8px;
}
.transperant-color {
    background: transparent;
}
::ng-deep {
    .carousel-item {
        padding-bottom: 0px !important;
        padding-top: 40px !important;
    }

    .carousel-indicators{
        top: 15px;
        bottom: auto;
        left: 10px;
        right: auto;
        margin: 0px;
        li{
            pointer-events: none;
            background: rgba(45, 49, 55, 0.1);
            width: 10px;
            max-height: 1px;
            border-radius: 50%;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
        }
        .active{
            background: #0A3677;
        }
        
    }
    .carousel-caption {
        padding: 0px;
    }
}
.web-view{
    display: none;
  }
@media only screen and (max-width: 600px) {
      .web-view{
          display: block;
        } 
        .mobile-hiden{
          display: none;
        }
        .alert-body {
            img,span{
            background: transparent;
            }
          }
        .info-tit{
            padding: 24px;
        }
        .carousel-view{
            margin-left: -35px;
            margin-right: -35px;
            
        }
        .width60{
            width: 60%;
            margin-left: 12px;
        }
        .width35{
            width: 35%;
        }
        
  }