<div>
  <hr class="mb-md-2 mt-md-1" />

  <label class="form-label col-md-12 pl-0 mb-md-1 mt-md-1 Fo-14">We pre-fileld your information through  your amazon central account</label>
  <label class="form-label col-md-12 pl-0 mb-md-1 mt-md-1 Fo-14">Following IBAN will be used for transferring the money to your account: IBAN *</label>

  <div class="bill-amount mb-1">
    <label class="form-label col-md-12 mb-md-1 mt-md-1 Fo-14 font-bold" >ED 234 1242 204930 1230 12</label>
  </div>
  <span >(Note: Please enter the same bank account information which is used on Amazon Seller Central)</span>

  <form #accountDetailsForm="ngForm" class="mt-2">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Bank Name *</label>
        <select class="form-control input-form" placeholder="select" id="basicSelect">
          <option>Emirates NBD</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Name *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="John Smith" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Account Number *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="350-234-1223" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>




    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button (click)="horizontalWizardStepperBack()"  class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block">Previous</span>
      </button>

        <button (click)="modalOpenDefault(modalDefault)" type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
          <span class="align-middle d-sm-inline-block">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>




<ng-template #modalDefault let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160"></h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
     <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck4" />
                        <label class="custom-control-label" for="customCheck4">
                          I/We agree to the above mentioned details and fully understand that the loan is subject to the submission of necessary documentation and signing of the loan agreement as required by LNDDO Digital Lending Limited
                        </label>
    </div>
  </div>
  <div class="modal-footer">
    <!-- modal.close('Accept click') -->
    <button type="button" class="btn btn-primary" (click)="horizontalWizardStepperNext()" rippleEffect>
      I agree and Continue
    </button>
  </div>
</ng-template>