<div class="pl56 pt48 pr57 pt-m-24 pl-m-24 pr-m-24">
    <div class="web-view m7">
        <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon cursor"></em>
    </div>
    <p class="Fo-14 LH-18 color-w m24 mb-0">Continue</p>

    <h2 class="font-bold Fo-20 LH-26 m8 mb-0" *ngIf="currentPage == 'login'">Login with LNDDO</h2>
    <h2 class="font-bold Fo-20 LH-26 m8 mb-0" *ngIf="currentPage !== 'login'">Register with LNDDO</h2>
    <p class="Fo-16 LH-21 m8 mb-0">Please enter your Mobile number</p>


    <form class="auth-login-form m32 m-m24" [formGroup]="mobileForm">
        <div class="form-group mb-0">
            <label class="form-label Fo-16 LH-21 mb-0" for="verify-mobile">Mobile Number *</label>
            <input type="text" formControlName="mobile" class="form-control Fo-16 LH-21 m12"
                [ngClass]="{ 'is-invalid': m.mobile.errors }" placeholder="+201020253907"
                aria-describedby="verify-mobile" />
            <span *ngIf="m.mobile.errors" class="invalid-form">
                <small class="form-text text-danger" *ngIf="m.mobile.errors.required">Mobile is required!</small>
            </span>
        </div>

        <div class="row">
            <span class="col-md-12 Fo-16 LH-21 m24 m-m16 mb-0">We sent you a verification code to verify your cell phone
                , please enter it
                below</span>
        </div>
        <div class="options">
            <span> Wrong number ? </span>

            <button *ngIf="m.mobile.disabled" (click)='m.mobile.enable()' class="btn btn-primary" tabindex="4"
                rippleEffect>Change
            </button>
            <button *ngIf="m.mobile.enabled" (click)='saveUpdateMobile()'
                class="btn btn-primary" tabindex="4" rippleEffect>Save
            </button>
        </div>
    </form>
</div>

<div class='verification m39'>


    <div
        *ngIf="verificationError != 'User cannot be authenticated as User has not registered ';then actionsLogin;else actionsRegister;">
    </div>
    <ng-template #actionsLogin>
        <p class='Fo-16 LH-21 m20 mb-0 m-m0'>Enter Verification Code *</p>

        <div class="code-inputs m10" [formGroup]="verificationForm">
            <input formControlName='input1' type="text" pattern="\d*" maxlength="1" autofocus>
            <input formControlName='input2' type="text" pattern="\d*" maxlength="1">
            <input formControlName='input3' type="text" pattern="\d*" maxlength="1">
            <input formControlName='input4' type="text" pattern="\d*" maxlength="1">
            <input formControlName='input5' type="text" pattern="\d*" maxlength="1">
            <input formControlName='input6' type="text" pattern="\d*" maxlength="1">
        </div>

        <ngb-alert [dismissible]="false" *ngIf="inputsError" [hidden]="false" [type]="'danger'" class="m18 m-m8 mb-0">
            <div class="alert-body">
                <div>
                    <img width="16" height="18" class="info-icon" src="../../../../../assets/images/partners/info.svg"
                        alt="info" />
                </div>
                <span class="bold-color Fo-12 LH-16 ">{{ 'Please check your verification inputs' }}.</span>
            </div>
        </ngb-alert>

        <ngb-alert [dismissible]="false" *ngIf="verificationError" [hidden]="false" [type]="'danger'"
            class="m18 m-m8 mb-0">
            <div class="alert-body">
                <div>
                    <img width="16" height="18" class="info-icon" src="../../../../../assets/images/partners/info.svg"
                        alt="info" />
                </div>
                <span class="bold-color Fo-12 LH-16 ">{{ verificationError }}.</span>
            </div>
        </ngb-alert>
        <button [disabled]="loadingCode" (click)="sendOtp()"
            class="btn btn-outline-dark btn-block bold-color Fo-16 LH-18 m24 m-m32 mobile-cus-btn" tabindex="4"
            rippleEffect>
            <span *ngIf="loadingCode" class="spinner-border spinner-border-sm mr-1"></span>Request a new
            code
        </button>

        <button [disabled]="loading" (click)="verify()" class="btn btn-primary btn-block Fo-16 LH-18 m24 m-m32 mb18"
            tabindex="4" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Verify
        </button>
    </ng-template>
    <ng-template #actionsRegister>
        <ngb-alert [dismissible]="false" *ngIf="verificationError" [hidden]="false" [type]="'danger'"
            class="m18 m-m8 mb-0">
            <div class="alert-body">
                <div>
                    <img width="16" height="18" class="info-icon" src="../../../../../assets/images/partners/info.svg"
                        alt="info" />
                </div>
                <span class="bold-color Fo-12 LH-16 ">{{ verificationError }}.</span>
            </div>
        </ngb-alert>
        <button routerLink="/auth/home/register" class="btn btn-primary btn-block Fo-16 LH-18 m24 m-m32 mb18"
            tabindex="4" rippleEffect>Register
        </button>
    </ng-template>
</div>