@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.auth-login-form {
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;

    .option {
      &:hover {
        cursor: pointer;
        background: $primary !important;
        padding: 5px;
        border-radius: 7px;
        color: white !important;
        opacity: unset !important;
      }

      &:last-child {
        font-weight: 800;
        font-size: 16px;
        line-height: 19px;

        color: #000000;

        opacity: 0.7;
      }
    }
  }
}

.auth-help-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-div {
  top: 15%;
  position: absolute;
}

.sso-btn {
  background: #ffede1;
  border: 1px solid rgba(235, 216, 203, 0.1);
  border-radius: 8px;
  color: #0a3677;
}

.alert-body {
  background: rgba(252, 109, 171, 0.2);
  border-radius: 4px;
  padding: 9px 12px;
  display: flex;
  div {
    background-color: transparent;
    margin-right: 8px;
  }
}
.info-icon {
  // margin-left: 12px;
}
.verification {
  border: 1px solid #afcbff;
  box-shadow: 0px 30px 39px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 20px !important;
  padding-left: 70px !important;
  padding-right: 70px !important;
  margin-left: -14px;
  margin-right: -14px;
  .code-inputs {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    input {
      width: 45px;
      height: 40px;
      background: #fcfdff;
      border: 1px solid rgba(10, 54, 119, 0.05);
      border-radius: 8px;
      text-align: center;
      font-size: 16px;
      line-height: 21px;
      margin-right: 5px;
      color: #000000b0;
      &:focus-visible {
        color: #719ece;
      }
      &:focus {
        outline: none !important;
        border-color: #719ece;
        box-shadow: 0 0 10px #719ece;
      }
    }
  }
}
.web-view {
  display: none;
}
.color-w {
  color: rgba(45, 49, 55, 0.5);
}

@media only screen and (max-width: 600px) {
  .code-inputs {
    input {
      width: 45px !important;
      height: 40px !important;
    }
  }
  .web-view {
    display: block;
  }
  .mobile-hiden {
    display: none;
  }
  .verification {
    padding-left: 38px !important;
    padding-right: 38px !important;
    border-radius: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .alert-body {
    img,
    span {
      background: transparent;
    }
  }
  .mobile-cus-btn {
    border: 0px solid !important;
    color: #0a3677;
  }
}
