<div class="row">
    <a class="col-md-12 col-1" (click)="back()">
        <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon mb-1 cursor"></em>
    </a>
    <h4 class="font-bold col-md-12 col-11">Loan Account details</h4>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body loan-account">
                <h6 class="mb-1 text-muted">Loan Account</h6>
                <div class="media">
                    <div class="avatar primary-background-color rounded mr-1">
                      <div class="avatar-content">
                        <i data-feather="briefcase" class="avatar-icon font-medium-3"></i>
                      </div>
                    </div>
                    <div class="media-body">
                      <h6 class="font-bold primary-color padding-top">00005655</h6>
                    </div>
                </div>

                  <div class="request-amount mt-2 mb-2 row">
                    <div class="col-md-6 col-6 pt-md-0 pt-1">
                        <h3 class="primary-color font-bold mb-md-0 pt-md-2 pb-md-2">$ 150,000</h3>
                    </div>
                    <div class="col-md-6 col-6 p-0">
                        <button type="submit" rippleEffect class="btn btn-primary request-btn p-0 mt-1 mb-1 mb-md-2 mt-md-2 btn-reverse" [disabled]="true" (click)="next()">Requested Amount</button>
                    </div>
                  </div>

                  <div class="p-0 mt-md-2 mb-md-2 approve-amount row">
                    <div class="col-md-6 col-10 p-0">
                        <p class="mb-1 mt-1 ml-1">$ 200,000 / Approved amount</p>
                    </div>
                    <div class="col-md-6 col-2">
                        <span class="mb-1 mt-1 bold-color font-bold btn-reverse">DISMISS</span>
                    </div>
                  </div>


            </div>
        </div>
        <div class="card">
            <div class="card-body row mb-0 pb-0 ">
                <div class="col-md-6 col-8"> 
                    <p class="font-bold Fo-14">  <em data-feather="chevrons-right" ></em> Disbursed Amount</p>
                    <p class="red-color Fo-12">Disbursment date</p>
                </div>
                <div class="col-md-6 col-4 reverse-div">
                    <p class="font-bold Fo-14">$150,000</p>
                    <p class="red-color Fo-12">01/01/2022</p>
                </div>
            </div>
            <hr class="mb-0" />
            <div class="card-body row">
                <h6 class="font-bold Fo-16 ml-1">Loan Tenor: 6 months</h6>
                <ngb-progressbar type="primary" class="col-md-11 col-10 p-0 ml-1 progress-height" [value]="45"></ngb-progressbar>
            </div>
        </div>
    </div>

    <div class="col-md-6 p-0">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <h5 class="Fo-16 font-bold FW-700"> <img width="25" height="25" class="image-spinner" src="../../../../../assets/images/payments/spinner.svg" />Loan repayment progress </h5>
                </div >
                <div class="col-md-12">
                    <p class="Fo-14 mt-1">Outstanding Balance</p>
                </div>
                <div class="col-md-12">
                    <h5 class="font-bold mt-1">$140,000</h5>
                </div>
                <hr class="mb-1" />
                <div class="pl-1">
                <div class="row">
                    <div class="col-md-4 col-4">
                        <p class="font-bold Fo-14 normal-color"> Due amount</p>
                    </div>
                    <div class="col-md-4 col-3">
                        <p class="Fo-12 normal-color"> Due date</p>
                    </div>
                    <div class="col-md-4 col-5">
                        <p class="Fo-12 normal-color reverse-div"> Payment Status</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-4">
                        <p class="font-bold Fo-14 normal-color"> $500</p>
                    </div>
                    <div class="col-md-4 col-4">
                        <p class="Fo-12 normal-color"> 05/07/2022</p>
                    </div>
                    <div class="col-md-4 col-4">
                        <p class="Fo-12 normal-color reverse-div paid">Paid</p>
                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-4 col-4">
                        <p class="font-bold Fo-14 normal-color"> $500</p>
                    </div>
                    <div class="col-md-4 col-4">
                        <p class="Fo-12 normal-color"> 05/07/2022</p>
                    </div>
                    <div class="col-md-4 col-4">
                        <p class="Fo-12 normal-color reverse-div overdue">Overdue</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-4">
                        <p class="font-bold Fo-14 normal-color"> $500</p>
                    </div>
                    <div class="col-md-4 col-4">
                        <p class="Fo-12 normal-color"> 05/07/2022</p>
                    </div>
                    <div class="col-md-4 col-4">
                        <p class="Fo-12 normal-color reverse-div due">due</p>
                    </div>
                </div>
               
            </div>

            </div>
        </div>
        
    </div>

</div>
<div class="row pl-1 mobile-view">
    <div class="col-12 mb-1"><h5>Looking to modify your loan ?</h5></div>
    <div class="col-12 mb-1">
        <button type="submit" rippleEffect class="btn w-100 com-btn primary-color" (click)="next()">Request top-up</button>
    </div>
    <div class="col-12 mb-1">
        <button type="submit" rippleEffect class="btn w-100 com-btn primary-color" (click)="next()">Request new loan</button>
    </div>
</div>