@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';

@media only screen and (max-width: 600px) {
  .fooder-div-btn {
    display: flex;
    button {
      margin: auto;
      padding-left: 30%;
      padding-right: 30%;
    }
  }
}
