<app-stepper [headerTitle]="'Now let’s fill in your business Information'" [index]="1" [title]="'Business Details'"
  [subTitle]="'Information'" [nextTitle]="'Your Business Address'" [prevPageURL]="'partners/revenue'">
</app-stepper>


<div class="stepper-pages">
  <form [formGroup]="businessInfoForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="businessName">Business Name *</label>
        <input type="text" name="businessName" id="businessName" class="form-control input-form"
          formControlName='businessName' [ngClass]="{ 'is-invalid': submitted && f.businessName.errors }"
          placeholder="Business Name" />

        <div *ngIf="submitted && f.businessName.errors" class="invalid-feedback">
          <div *ngIf="f.businessName.errors.required">Business Name is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="incorporationType">Incorporation Type *</label>
        <select id="incorporationType" formControlName="incorporationType" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.incorporationType.errors }" placeholder='Select'>
          <option value="" [selected]="true" [disabled]="true">Select Type</option>
          <option value="{{item.id}}" *ngFor="let item of incorporationType">{{item.name}}</option>
        </select>
        <div *ngIf="submitted && f.incorporationType.errors" class="invalid-feedback">
          <div *ngIf="f.incorporationType.errors.required">Incorporation Type is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="incorporationDate">Incorporation Date *</label>
        <ng2-flatpickr formControlName='incorporationDate' [setDate]="incDate" [config]="incorporationDateOptions"
          id="incorporationDate" name="incorporationDate" placeholder="MM/DD/YYYY"
          [ngClass]="{ 'is-invalid': submitted && f.incorporationDate.errors }">
        </ng2-flatpickr>
        <div *ngIf="submitted && f.incorporationDate.errors" class="invalid-feedback">
          <div *ngIf="f.incorporationDate.errors.required">Incorporation Type is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="businessCategory">Business Category *</label>
        <select id="businessCategory" formControlName="businessCategory" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.businessCategory.errors }" placeholder='Select'>
          <option value="" [selected]="true" [disabled]="true">Select Category</option>
          <option value="{{item.id}}" *ngFor="let item of businessCategory">{{item.name}}</option>
        </select>
        <div *ngIf="submitted && f.businessCategory.errors" class="invalid-feedback">
          <div *ngIf="f.businessCategory.errors.required">Business Category is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label for="tradingType">Trading Type *</label>
        <select id="tradingType" formControlName="tradingType" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.tradingType.errors }" placeholder='Select'>
          <option value="" [selected]="true" [disabled]="true">Select Type</option>
          <option value="15">Retail</option>
          <option value="16">Wholesale</option>
          <option value="17">Manufacturing</option>
        </select>
        <div *ngIf="submitted && f.tradingType.errors" class="invalid-feedback">
          <div *ngIf="f.tradingType.errors.required">Incorporation Type is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="retailOutletsCount">Count of Retail outlets, if applicable</label>
        <input type="number" name="retailOutletsCount" id="retailOutletsCount" class="form-control input-form"
          formControlName='retailOutletsCount' [ngClass]="{ 'is-invalid': submitted && f.retailOutletsCount.errors }"
          placeholder="Number of outlets" />

        <div *ngIf="submitted && f.retailOutletsCount.errors" class="invalid-feedback">
          <div *ngIf="f.retailOutletsCount.errors.required">Retail Outlets Count is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="tradeLicenseNumber">Trade License Number *</label>
        <input type="text" name="tradeLicenseNumber" id="tradeLicenseNumber" class="form-control input-form"
          formControlName='tradeLicenseNumber' [ngClass]="{ 'is-invalid': submitted && f.tradeLicenseNumber.errors }"
          placeholder="Licence number" />

        <div *ngIf="submitted && f.tradeLicenseNumber.errors" class="invalid-feedback">
          <div *ngIf="f.tradeLicenseNumber.errors.required">Trade License Number is required</div>
        </div>
      </div>



    </div>

    <hr class="mb-3 mt-2" />

    <div *ngIf="!alertClose">
      <ngb-alert [type]="'primary'" (closed)="alertClose = !alertClose">
        <div class="alert-body">
          <span [data-feather]="'info'" [class]="'mr-50 align-middle'"></span>
          All information populated here is shared by your post provider . For any missing or
          inaccurate data , please update and make sure you upload a valid copy of your Trade License File, MOA, Bank
          Statement, Ejari or lease agreement, VAT Form .
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </ngb-alert>
    </div>

    <hr class="mb-3 mt-2" />

    <div class="row">
      <div class="justify-content-between col-md-12 fooder-div-btn">
        <button type="submit" [disabled]="loading" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5"
          rippleEffect>
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <span class="align-middle d-sm-inline-block ">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>




  </form>
</div>