<app-stepper [index]="5" [title]="'Personal Details'" [subTitle]="'Address'" [nextTitle]="'Home Country Address'"></app-stepper>

<div class="stepper-pages">
  <h5 class="font-bold mb-1">Address in UAE</h5>
  <form #accountDetailsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Address Line 1 *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Address Line 2 *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Address Line 3 *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">City *</label>
        <select class="form-control input-form" placeholder="select" id="basicSelect">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>


      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Post Code</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="12345" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">Country *</label>
        <select class="form-control input-form" placeholder="select" id="basicSelect">
          <option> United Arab Emirates</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>
      
    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button (click)="back()"  class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block">Previous</span>
      </button>

        <button (click)="next()" type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
          <span class="align-middle d-sm-inline-block">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>
