
<div class="pt-md-1 mobile-hiden">
  <a>
    <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon mb-1 mt-md-0 mt-1 cursor"></em>
  </a>
  </div>
<div class="p-md-2 p-1">
  <img width="185" height="55" class="web-view" src="../../../../../assets/images/logo/logo.png" alt="logo" />

  <p class="card-text mb-1 Fo-14 LH-18 color-w mt-md-0 mt-2">Continue</p>

<h2 class="card-title font-bold Fo-20 LH-26 b-1 mt-md-0 mt-md-2 mt-1">Register with LNDDO</h2>
<p class="card-text mb-2 mt-0 Fo-16 LH-21">Please enter your Mobile number</p>


<form class="auth-login-form mt-2" [formGroup]="loginForm">
  <div class="form-group">
    <label class="form-label Fo-16 LH-21" for="login-email">Mobile Number *</label>
    <input type="text" formControlName="email" class="form-control Fo-16 LH-21"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="560003293" aria-describedby="login-email"
      autofocus="" tabindex="1" />
  </div>

  <div class="row mt-2">
    <span class="col-md-12 pb-2 Fo-16 LH-21">We sent you a verification code to verify your cell phone , please enter it
      below</span>
    <span class="col-md-6 col-6 pb-1 mt-1"> Wrong number ? </span>
    <span class="col-md-6 col-6 pb-1 mt-1 font-bold text-center"> Change </span>
  </div>

  <div class='verification mt-2'>
    <p class='mb-1 Fo-16 LH-21'>Enter Verification Code *</p>

    <div class="code-inputs">
      <input type="text" placeholder="" pattern="\d*" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
    </div>

    <ngb-alert [dismissible]="false" [hidden]="false" [type]="'danger'" class="mt-2">
      <div class="alert-body">
        <img width="16" height="18" class="info-icon" src="../../../../../assets/images/payments/info.svg" alt="info" />
        <span class="bold-color Fo-12 LH-16 ">We can’t verify your verififcation code, please try again.</span>
      </div>
    </ngb-alert>

    <button [disabled]="loading" class="btn btn-outline-dark btn-block bold-color Fo-16 LH-18 " tabindex="4" rippleEffect>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Request a new code
    </button>

    <button [disabled]="false" class="btn btn-primary btn-block mt-2 Fo-16 LH-18" tabindex="4" rippleEffect>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Verify
    </button>
  </div>

</form>
</div>