
<div class="p-3">
<h2 class="card-title font-weight-bold mb-1">Register with LNDDO</h2>
<p class="card-text mb-2">Please enter your Mobile number</p>


<form class="auth-login-form mt-2" [formGroup]="loginForm">
  <div class="form-group">
    <label class="form-label" for="login-email">Mobile Number *</label>
    <input type="text" formControlName="email" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="560003293" aria-describedby="login-email"
      autofocus="" tabindex="1" />
  </div>

  <div class="row mb-2">
    <span class="col-md-12 pb-2">We sent you a verification code to verify your cell phone , please enter it
      below</span>
    <span class="col-md-6 col-6 pb-1"> Wrong number ? </span>
    <span class="col-md-6 col-6 pb-1 font-bold text-center"> Change </span>
  </div>

  <div class='verification mb-2'>
    <p class='mb-1'>Enter Verification Code *</p>

    <div class="code-inputs">
      <input type="text" placeholder="" pattern="\d*" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
      <input type="number" placeholder="" maxlength="1">
    </div>

    <ngb-alert [dismissible]="false" [hidden]="false" [type]="'danger'" class="text-center mt-2">
      <div class="alert-body">
        <span [data-feather]="'info'" [class]="'mr-25 align-middle'"></span>
        <span class="normal-color"> We can’t verify your verififcation code, please try again.</span>
      </div>
    </ngb-alert>

    <button [disabled]="loading" class="btn btn-outline-dark btn-block" tabindex="4" rippleEffect>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Request a new code
    </button>

    <button [disabled]="false" class="btn btn-primary btn-block mt-2" tabindex="4" rippleEffect>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Verify
    </button>
  </div>




  <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="4" rippleEffect>
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Continue
  </button>
</form>
</div>