.group {
  display: flex;
  align-items: baseline;
  .media {
    margin-right: 50px;
  }
}

.home-image {
  background: #fcfdff;
}
.primary-color {
  color: #0a3677;
}
.primary-background-color {
  background-color: #0a3677;
}
.messages-dev {
  display: inline-flex;
  padding: 20px;
  .error-color {
    margin-right: 2px;
    color: #fc6dab;
  }
}
.progress-bar {
  height: 15px;
}
.progress-bar-success {
  background-color: #0a3677;
}
// .com-btn{
//     margin-left: 10px;
// }
@media only screen and (max-width: 600px) {
  .messages-dev {
    text-align: left !important;
  }
  .mobile-view {
    text-align: center;
    margin-bottom: 10px;
  }
}
