<!-- <div>
    <a (click)="back()">
        <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon mb-1 cursor"></em>
    </a>
    <h6 class="text-muted">Welcome</h6>
    <h4 class="font-bold">Now let’s connect your revenue channel </h4>
    <p>Please Connect with your recurring revenue channel for us to assess your business</p>
</div> -->

<app-stepper [headerSubTitle]="'Welcome'" [headerTitle]="'Now let’s connect your revenue channel'" [index]="1"
    [title]="'Business Details'" [subTitle]="'Information'" [nextTitle]="'Your Business Address'" [isHidden]="true"
    [prevPageURL]="'auth/home/consent'">
</app-stepper>

<p>Please Connect with your recurring revenue channel for us to assess your business</p>
<h6 class="mt-2 font-bold">Connect partner channel</h6>

<div class="row mt-1">
    <div class="col-md-3 col-xl-3 col-6">
        <div class="card mb-1 div-partner" [ngClass]="{'div-partner-active': selectedPartner=='telr'}"
            (click)="selectedPartner = 'telr'">
            <img class="image-partner m-md-3 m-1" src="assets/images/partners/Telr.svg" alt="Card image cap" />
            <div class="card-body">
                <h6 class="card-title">Telr</h6>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-xl-3 col-6">
        <div class="card mb-1 div-partner" [ngClass]="{'div-partner-active': selectedPartner=='magnati'}"
            (click)="selectedPartner = 'magnati'">
            <img class="image-partner m-md-3 m-1" src="assets/images/partners/magnati.svg" alt="Card image cap" />
            <div class="card-body">
                <h6 class="card-title">Magnati</h6>
            </div>
        </div>
    </div>
</div>

<h6 class="font-bold">Or</h6>
<h6 class="mt-1 font-bold">Connect e-commerce channel</h6>

<div class="row">
    <div class="col-md-3 col-xl-3 col-6">
        <div class="card mb-3 div-partner" [ngClass]="{'div-partner-active': selectedPartner=='amazon'}"
            (click)="selectedPartner = 'amazon'">
            <img class="image-partner m-md-3 m-1" src="assets/images/partners/Amazon.svg" alt="Card image cap" />
            <div class="card-body">
                <h6 class="card-title">Amazon</h6>
            </div>
        </div>
    </div>
</div>

<div class="row w-100 footer-btn">
    <div class="col-md-12 mobile-dev">
        <button type="submit" [disabled]='!selectedPartner' rippleEffect class="btn btn-primary pr-5 pl-5 btn-reverse"
            (click)="next()">Continue</button>
    </div>
</div>