<div class="auth-wrapper auth-v2 register">
    <div class="auth-inner row m-0">
        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
            <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
            <h2 class="brand-text text-primary ml-1">Lnddo</h2>
        </a>
        <!-- /Brand logo-->
        <!-- Left Text-->
        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5" style='padding-left: 164px !important;'>
            <div class="w-100 d-lg-flex justify-content-center d-flex flex-column align-items-start px-5 left-view">

                <img src="assets/images/lnddo/logo/logo-flat.png" alt="logo" class='logo'>
                <h2>Small Business Loans in UAE</h2>
                <h5>Quick and Easy Access to Finance for growing Businesses.</h5>

                <hr>

                <span>Featured In</span>
                <img src="assets/images/lnddo/logo/arabian-business.png" class='logo-business' alt="logo">
                <p>Lörem ipsum semihet ladilig obös etiheten. Jabel semivision.</p>

            </div>
        </div>
        <!-- /Left Text-->
        <!-- Register-->
        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5" style='padding-right: 164px !important;'>
            <div class="col-12 col-sm-8 col-md-6 col-lg-12 verify-container">

                <div class="verify-card">
                    <span>Thank you</span>
                    <p>Congratulations, your account has been verified!</p>
                    <button>
                        Continue
                    </button>
                </div>

            </div>
        </div>
        <!-- /Register-->
    </div>
</div>