@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';

.register-container {
  background: #ffffff;
  border: 1px solid rgba(10, 54, 119, 0.05);
  box-shadow: 0px 30px 39px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  padding: 48px 56px !important;
}

.left-view {
  .logo {
    margin-bottom: 48px;
  }

  h2 {
    margin-bottom: 9px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;

    color: #2d3137;
  }

  h5 {
    margin: 0;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    color: #2d3137;
  }

  span {
    margin-bottom: 58px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #2d3137;
  }

  hr {
    width: 100%;
    border: 1px solid rgba(10, 54, 119, 0.05);
    margin: 29px 0 32px 0;
  }

  .logo-business {
    margin-bottom: 13px;
    margin-left: 40px;
  }
  p {
    margin-left: 40px;

    font-family: 'DM Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    color: #2d3137;
  }
}

.register {
  .sign-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px;
    line-height: 26px;
    color: #2d3137;
    margin-bottom: 8px;
  }

  .sign-sub-title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #2d3137;
  }

  .btn-uaepass {
    background: #ffede1 !important;
    border: 1px solid rgba(235, 216, 203, 0.1);
    border-radius: 8px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #0a3677 !important;
    margin: 29px 0 32px 0;
  }

  .sign-option {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    color: #2d3137;
    margin-bottom: 11px;
  }

  .btn-sign-in {
    background: #0a3677 !important;
    border: 1px solid rgba(175, 203, 255, 0.5) !important;
    border-radius: 8px !important;

    span {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;

      color: #fcfdff;
    }
  }

  .cursor-pointer {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #0a3677;
  }

  .link-option {
    span {
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;

      color: #0a3677;
    }
    margin-top: 48px !important;
  }

  .form-group {
    margin-bottom: 24px;
    label {
      margin-bottom: 10px;
    }
    input,
    .input-group-text {
      border: none;
      border-radius: 8px;
    }
    .input-group {
      border: 1px solid rgba(10, 54, 119, 0.05);
      border-radius: 8px;
    }
  }

  .default-input {
    margin-bottom: 24px;
    label {
      margin-bottom: 10px;
    }

    input {
      border: 1px solid rgba(10, 54, 119, 0.05);
      border-radius: 8px;
    }
  }
}
