<div>
    <h6 class="text-muted">Welcome</h6>
    <h4 class="font-bold">Find the fastest and easiest financing solution for your small business.</h4>
    <p>Choose one of the products thats best suited for your company needs</p>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card mb-3">
              <div class="card-body line-border-shadow">
                <h4 class="block-shadow info">Most Valuble</h4>
                <h3 class="card-title font-bold">Merchant Cart Advance</h3>
                <div class="row">
                    <p class="card-text col-md-2">Up to $100,000</p>
                    <p class="card-text col-md-2">3-12 month term</p>
                    <p class="card-text col-md-2">No collateral</p>
                    <p class="card-text col-md-2">1 Week disbursal</p>
                    <div class="col-md-4">
                        <button type="submit" rippleEffect class="btn btn-primary btn-reverse pr-4 pl-4" (click)="openDocumentsPage()" >Apply</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
    </div>



    <h6 class="mt-2 mb-2 font-bold">Our coming soon soluations</h6>

    <div class="row">
          <div class="col-md-6 col-xl-6">
            <div class="card shadow-none bg-transparent comeing-soon-div">
              <div class="card-body row mobile-view-reverse">
                <div class="col-md-12 col-5">
                    <h4 class="block-shadow comeing-soon">Coming Soon</h4>
                </div>
                <div class="col-md-12 col-7">
                    <h4 class="card-title coming-soon-title ">Team Loans</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-6">
            <div class="card shadow-none bg-transparent comeing-soon-div">
              <div class="card-body row mobile-view-reverse">
                <div class="col-md-12 col-5">
                    <h4 class="block-shadow comeing-soon">Coming Soon</h4>
                </div>
                <div class="col-md-12 col-7">
                    <h4 class="card-title coming-soon-title ">Supply Chain Financing</h4>
                </div>
              </div>
            </div>
          </div>
</div>