<div>
    <a (click)="back()">
        <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon mb-1 cursor"></em>
    </a>
</div>
<div class="form-details">
    <p class="text-align-center">Connect your revenue channel </p>
    <h4 class="font-bold text-align-center">Let’s connect Telr</h4>

    <div class="row payment-selection">
        <div class="col-12">
            <div class="card mb-1 div-payment" [ngClass]="{'div-payment-active': type=='Telr'}" (click)="type = 'Telr'">
                <img class="image-payment m-1" src="assets/images/payments/Telr.svg" alt="Card image cap" />
                <div class="card-body">
                    <h6 class="card-title">Telr</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="row payment-selection">
        <div class="col-md-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-body line-border-shadow">
                    <h6 class="text-muted"><i data-feather="lock"></i> We securely connect to your account.</h6>
                    <form class="form form-vertical">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                  <label class="lable-form" for="first-name-vertical">Your Telr registered email address</label>
                                  <input
                                    type="text"
                                    id="first-name-vertical"
                                    class="form-control input-form"
                                    name="fname"
                                    placeholder="john.smith @mail.com"
                                  />
                                </div>
                              </div>
                              <div class="col-12">
                                <div class="form-group form-password-toggle">
                                  <label class="lable-form" for="first-name-vertical">Telr account Password</label>
                                  <div class="password-block">
                                  <input
                                  [type]="basicPwdShow ? 'text' : 'password'"
                                  class="form-control input-form"
                                  id="basic-default-password"
                                  placeholder="Your Password"
                                  aria-describedby="basic-default-password"
                                />
                                <div class="input-group-append" (click)="basicPwdShow = !basicPwdShow">
                                  <span class="input-group-text cursor-pointer">
                                    <i class="feather" [ngClass]="{ 'icon-eye-off': basicPwdShow, 'icon-eye': !basicPwdShow}"></i>
                                </span>
                                </div>
                            </div>
                                </div>
                              </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body error-box line-border-shadow">
                <h6 class="text-center">
                    <div class="error-color">
                    <em class="icon-error font-medium-4 " data-feather="info"></em> 
                </div>
                Invalid or incorrect Partner account credential
            </h6>
                </div>
            </div>
        </div>


        <div class="row w-100 margin-auto footer-btn">
            <div class="col-md-5 col-lg-5 col-6 p-1" >
                <button type="submit" rippleEffect class="btn btn-outline-secondary w-100" (click)="next()">Cancel</button>
            </div>
            <div class=" col-md-7 col-lg-7 col-6 p-1">
                <button type="submit" rippleEffect class="btn btn-primary w-100" (click)="next()">Continue</button>
            </div>
        </div>
    </div>
</div>