<app-stepper [isHidden]="true"></app-stepper>

<div class="stepper-pages">
  <hr class="mb-md-3 mt-md-1" />

  <form #accountDetailsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-4">
        <fieldset>
          <label for="file-upload-single" class="Fo-14">Trade License File *</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input input-form" type="file" ng2FileSelect id="file-upload-single" />
            <label class="custom-file-label input-form">Please choose file</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Trade License Expiry date * </label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="DD/MM/YYYY" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">MOA *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <fieldset>
          <label for="file-upload-single" class="Fo-14">Bank Statement from Month xx to Month xx *</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input input-form" type="file" ng2FileSelect id="file-upload-single" />
            <label class="custom-file-label input-form">Please choose file</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group col-md-4">
        <fieldset>
          <label for="file-upload-single" class="Fo-14">Ejari or lease agreement *</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input input-form" type="file" ng2FileSelect id="file-upload-single" />
            <label class="custom-file-label input-form">Please choose file</label>
          </div>
        </fieldset>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Expiry date *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <fieldset>
          <label for="file-upload-single" class="Fo-14">VAT Form</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input input-form" type="file" ng2FileSelect id="file-upload-single" />
            <label class="custom-file-label input-form">Please choose file</label>
          </div>
        </fieldset>
      </div>

    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button (click)="horizontalWizardStepperBack()" class="btn btn-outline-secondary btn-prev mobile-btn-p-back"
          ppleEffect>
          <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
          <span class="align-middle d-sm-inline-block">Previous</span>
        </button>

        <button (click)="modalOpenDefault(modalXL)" type="submit"
          class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next " rippleEffect>
          <span class="align-middle d-sm-inline-block">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>




<ng-template #modalXL let-modal>
  <div class="modal-header">
      <h5 class="modal-title" id="myModalLabel160"></h5>
      <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>

      <div class="time-line-div">
          <h6 class="font-bold mb-1">Business Details</h6>
          <ul class="timeline">
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Information</h6>
                      </div>
                  </div>
              </li>
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Address</h6>
                      </div>
                  </div>
              </li>
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Financials</h6>
                      </div>
                  </div>
              </li>
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Other Information</h6>
                      </div>
                  </div>
              </li>
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6 class="primary-color font-bold" >E-commerce Information</h6>
                      </div>
                  </div>
              </li>

          </ul>

      </div>

      <div class="time-line-div">
          <h6 class="font-bold mb-1">Personal Information</h6>
          <ul class="timeline">
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Personal Details</h6>
                      </div>
                  </div>
              </li>
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Contact Information</h6>
                      </div>
                  </div>
              </li>
          </ul>

      </div>


      <div class="time-line-div">
          <h6 class="font-bold mb-1">Upload Required Documents </h6>
          <ul class="timeline">
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Business documents</h6>
                      </div>
                  </div>
              </li>
              <li class="timeline-item pb-0">
                  <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                  <div class="timeline-event">
                      <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                          <h6>Personal documents</h6>
                      </div>
                  </div>
              </li>
          </ul>

      </div>


  </div>
</ng-template>