<div class="pl56 pt48 pr57 pt-m-24 pl-m-24 pr-m-24">
<img width="185" height="55" class="web-view m-m48" src="../../../../../assets/images/logo/logo.png" alt="logo" />
<h2 class="font-bold Fo-20 LH-26 m-m32">Sign in</h2>
<p class="card-text m8 Fo-14 LH-18">Welcome to your LNDDO Account</p>

<button [disabled]="loading" class="btn btn-block sso-btn Fo-16 font-bold LH-21 m41 m-m16" tabindex="4" rippleEffect>
  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Sign in with UAE PASS
</button>



<p class="card-text Fo-16 LH-21 font-bold m32 m-m48">Or Sign in with your LNDDO Account</p>

<form class="auth-login-form m32 m-m24" [formGroup]="loginForm">
  <div class="form-group">
    <label class="form-label Fo-16 LH-21" for="login-email">Mobile Number *</label>
    <input type="text" formControlName="email" class="form-control Fo-16 LH-21 m12"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="560003293"
      aria-describedby="login-email" autofocus="" tabindex="1" />
  </div>
  
  <ngb-alert [dismissible]="false" [hidden]="true" [type]="'danger'" class="m-m8">
    <div class="alert-body">
      <span [data-feather]="'info'" [class]="'mr-25 align-middle'"></span>
      <span class="normal-color"> Incorrect Password</span>
    </div>
  </ngb-alert>


  <button [disabled]="loading" class="btn btn-primary btn-block font-bold Fo-16 LH-21 m36" tabindex="4" (click)="open()" rippleEffect>
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Continue
  </button>
</form>
<hr class="col-10 m24" />

<p class="text-center m24 mb48">
  <span class=" Fo-16 LH-21 primary-color">Don’t have an account?</span><a routerLink="/auth2/home/register"><span class="Fo-16 LH-21 primary-color font-bold">&nbsp;Register</span></a>
</p>
</div>