
<app-stepper [index]="2" [title]="'Business Details'"></app-stepper>
<!-- Business Details -->
<!-- <div>
    <a (click)="back()">
        <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon mb-1 cursor"></em>
    </a>
    <h6 class="text-muted">Continue Application</h6>
    <h4 class="font-bold">Now let’s fill in your business Information</h4>
</div>

<div class="stepper">
    <section class="horizontal-wizard">
        <div id="stepper1" [ngClass]="{'background-transperant' : (step == 6) || (step > 9) }"
            class="bs-stepper horizontal-wizard-example">
            <div [hidden]="step== 6 || step > 9 " class="bs-stepper-header custom-header row"
                style="flex-direction:row">

                <div [hidden]="step != 1" class="step col-md-1 col-3 m-0 p-0" data-target="#business-details-info">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">1 of 8</p>
                        </div>
                    </button>
                </div>

                <div [hidden]="step != 2" class="step col-md-1 col-3 m-0 p-0" data-target="#business-details-address">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">2 of 8</p>
                        </div>
                    </button>
                </div>
                <div [hidden]="step != 3" class="step col-md-1 col-3 m-0 p-0" data-target="#business-financial">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">3 of 8</p>
                        </div>
                    </button>
                </div>
                <div [hidden]="step != 4" class="step col-md-1 col-3 m-0 p-0" data-target="#business-other">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">4 of 8</p>
                        </div>
                    </button>
                </div>

                <div [hidden]="step != 5" class="step col-md-1 col-3 m-0 p-0" data-target="#business-other2">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">5 of 8</p>
                        </div>
                    </button>
                </div>
                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#personal-info-confirm">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                    </button>
                </div>
                <div [hidden]="step != 7" class="step col-md-1 col-3 m-0 p-0" data-target="#personal-identifcation">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">6 of 8</p>
                        </div>
                    </button>
                </div>
                <div [hidden]="step != 8" class="step col-md-1 col-3 m-0 p-0" data-target="#personal-address">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">7 of 8</p>
                        </div>
                    </button>
                </div>

                <div [hidden]="step != 9" class="step col-md-1 col-3 m-0 p-0" data-target="#personal-home-address">
                    <button class="step-trigger mobile-view" id="zerro-padding">
                        <div class="head1">
                            <p class="title1 cus-padding">Step</p>
                            <p class="title1 cus-padding">8 of 8</p>
                        </div>
                    </button>
                </div>

                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#business-document-upload">
                    <button class="step-trigger">
                    </button>
                </div>
                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#business-document-passport">
                    <button class="step-trigger">
                    </button>
                </div>
                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#shareholder-information">
                    <button class="step-trigger">
                    </button>
                </div>
                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#loan-terms">
                    <button class="step-trigger">
                    </button>
                </div>
                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#loan-review">
                    <button class="step-trigger">
                    </button>
                </div>
                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#review-loan-agreement">
                    <button class="step-trigger">
                    </button>
                </div>

                <div [hidden]="true" class="step col-md-1 col-3 m-0 p-0" data-target="#loan-approve">
                    <button class="step-trigger">
                    </button>
                </div>

                <div class=" col-md-4 col-7" style="padding-left: 21px !important;">
                    <p class="hed title-header">Business Details</p>
                    <p class="hed2 ml-1 mb-0 cus-padding" id="zerro-margin-bottom">Information</p>
                </div>
                <div class=" col-md-7 col-2 left-title-header">
                    <p (click)="modalOpenDefault(modalXL)" class="btn-reverse mb-0 merge-cus"> <em data-feather="list"
                            class="font-medium-4 text-primary toggle-icon cursor"></em>
                        Steps</p>
                    <p class="btn-reverse merge-cus font-bold mobile-hiden"> Your Business Address</p>
                    <button type="submit" rippleEffect class="btn next-btn font-bold btn-reverse merge-cus mobile-hiden"
                        (click)="next()">NEXT</button>
                </div>

            </div>





            <div class="bs-stepper-content" [ngClass]="{'padding-0' : (step == 6 || step >9) }">

                <form (ngSubmit)="(HWForm.form.valid)" #HWForm="ngForm">
                    <div id="business-details-info" class="content">
                        <app-business-details-info-page [stepper]="horizontalWizardStepper">
                        </app-business-details-info-page>
                    </div>
                    <div id="business-details-address" class="content">
                        <app-business-details-address-page [stepper]="horizontalWizardStepper">
                        </app-business-details-address-page>
                    </div>
                    <div id="business-financial" class="content">
                        <app-business-details-financial-page [stepper]="horizontalWizardStepper">
                        </app-business-details-financial-page>
                    </div>
                    <div id="business-other" class="content">
                        <app-business-details-other-page [stepper]="horizontalWizardStepper">
                        </app-business-details-other-page>
                    </div>
                    <div id="business-other2" class="content">
                        <app-business-details-other2-page [stepper]="horizontalWizardStepper">
                        </app-business-details-other2-page>
                    </div>
                    <div id="business-document-upload" class="content">
                        <app-business-document-upload-page [stepper]="horizontalWizardStepper">
                        </app-business-document-upload-page>
                    </div>
                </form>
            </div>


        </div>

    </section>

</div>



<ng-template #modalXL let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160"></h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>

        <div class="time-line-div">
            <h6 class="font-bold mb-1">Business Details</h6>
            <ul class="timeline">
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Information</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Address</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Financials</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-success timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Other Information</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6 class="primary-color font-bold">E-commerce Information</h6>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

        <div class="time-line-div">
            <h6 class="font-bold mb-1">Personal Information</h6>
            <ul class="timeline">
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Personal Details</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Contact Information</h6>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


        <div class="time-line-div">
            <h6 class="font-bold mb-1">Upload Required Documents </h6>
            <ul class="timeline">
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Business documents</h6>
                        </div>
                    </div>
                </li>
                <li class="timeline-item pb-0">
                    <span class="timeline-point timeline-point-secondary timeline-point-indicator"></span>
                    <div class="timeline-event">
                        <div class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0">
                            <h6>Personal documents</h6>
                        </div>
                    </div>
                </li>
            </ul>

        </div>


    </div>
</ng-template> -->