@import 'scss/variables/_variables-components';

.brand-logo {
    img {
        max-width: 150px !important;
    }
}

.getstart {
    text-align: center;
    margin-bottom: 25px;
    .getstart-btn {
        border: 1px solid #AFCBFF;
        border-radius: 12px;
        width: 80%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .loan-btn{
        background: #FFEDE1;
        border: 1px solid rgba(175, 203, 255, 0.5);
        border-radius: 12px;
        width: 80%;
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        color: #0A3677;
        margin-bottom: 5px;
    }
}
.footer-div {
    bottom: 0;
    position: absolute;
}