.div-style{
border: 1px solid #AFCBFF;
box-shadow: 0px 30px 39px rgba(0, 0, 0, 0.02);
border-radius: 12px;
}
@media only screen and (max-width: 600px) {
    .footer-btn{
        position: fixed;
        bottom: 5px;
        .mobile-dev{
            display: flex;
            padding-right: 0px;
            .btn-reverse{
                width: 80%;
                margin: auto;
            }
        }
    }
  }