<div>
    <a (click)="back()">
        <em data-feather="chevron-left" class="font-medium-4 text-primary toggle-icon mb-1 cursor"></em>
    </a>
    <h6 class="text-muted">Welcome</h6>
    <h4 class="font-bold">Keep your documents</h4>
    <p>Having these documents within easy reach will help you get your preapproval within minutes</p>
</div>

<div class="row mt-3">
    <div class="col-md-6 col-xl-6">
        <div class="card mb-3">
            <div class="card-body div-style">
                <h6 class="card-title">Business Documents</h6>
                <p class="card-text">Valid Trade License </p>
                <p class="card-text">Bank Statement </p>
                <p class="card-text">Memorandum of Association</p>
                <p class="card-text">Tenancy Contract</p>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-6">
        <div class="card mb-3">
            <div class="card-body div-style">
                <h6 class="card-title">Applicant Documents</h6>
                <p class="card-text">Passport</p>
                <p class="card-text">Emirates ID</p>
                <p class="card-text">Visa</p>
                <p class="card-text heddin">test</p>

            </div>
        </div>
    </div>

    <div class="row w-100 footer-btn">
        <div class="col-md-12 mobile-dev">
            <button type="submit" rippleEffect class="btn btn-primary pr-5 pl-5 btn-reverse" (click)="next()">Continue</button>
        </div>
    </div>

</div>