<div class="form-details">
    <div class="text-align-center approve-icon mt-2">
        <em class="font-large-1" data-feather="check"></em>
    </div>
    <h5 class="text-align-center mt-2">Thank you</h5>
    <h6 class="text-align-center mt-2">Congratulations</h6>
    <h3 class="text-align-center m-1">All data has been submitted and our team will review it and contact you .</h3>

    <div class="row w-100 margin-auto">
        <div class="col-md-12 col-lg-12 p-1 text-center">
            <button type="button" rippleEffect class="btn btn-primary w-80">Close</button>
        </div>
    </div>


</div>