@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';

.bill-amount {
    background: #AFCBFF;
    border: 1px solid rgba(10, 54, 119, 0.05);
    border-radius: 8px;
}

@media only screen and (max-width: 600px) {
    .display-flex {
        display: block;
    }
    .bill-amount {
        padding: 10px 0px;
    }
}