@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/flatpickr.component.scss';


.info{
    padding: 10px;
    background: #FC6DAB;
border-radius: 4px;
color: white;
font-size: 14px;

}

@media only screen and (max-width: 600px) {
    .display-flex{
        display: block;
    }
}