<app-stepper [index]="3" [title]="'Business Details'" [subTitle]="'Financial Information'" [nextTitle]="'Other Information'"></app-stepper>

<div class="stepper-pages">
  <form #accountDetailsForm="ngForm">
    <div class="row">

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">What's your last year's turnover? *</label>
        <select class="form-control input-form" placeholder="Please choose file" id="basicSelect">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">How much credit are you looking for? *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Only multiples of 1000s can be ente..." />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">What's the total capital invested in business? *</label>
        <select class="form-control input-form" placeholder="Select" id="basicSelect">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">If Yes, then outstanding amount *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Only multiples of 1000s can be entered" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">Reason For Requesting Business Loan? *</label>
        <select class="form-control input-form" placeholder="Select" id="basicSelect">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>
      <div class="form-group col-md-4">
      </div>


      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">Current payment settlement cycle with channel - i.e. How often do you get settlements? *</label>
        <select class="form-control input-form" placeholder="Select" id="basicSelect">
          <option>IT</option>
          <option>Blade Runner</option>
          <option>Thor Ragnarok</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="email">Do your business have any outstanding loans? (Exclude credit card debt)  *</label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
            <label class="custom-control-label" for="customRadio1">Yes</label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
            <label class="custom-control-label" for="customRadio2">No</label>
          </div>
        </div>
      </div>


    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button   class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block">Previous</span>
      </button>

        <button (click)="next()" type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
          <span class="align-middle d-sm-inline-block">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>