<div>
  <div class="card card-developer-meetup">
    <div class="home-image rounded-top text-center">
      <img src="assets/images/illustration/email.svg" alt="Meeting Pic" height="170" />
    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-2 col-10">
          <h6 class="mb-1 text-muted">Amount</h6>
          <div class="media">
            <div class="avatar primary-background-color rounded mr-1">
              <div class="avatar-content">
                <i data-feather="briefcase" class="avatar-icon font-medium-3"></i>
              </div>
            </div>
            <div class="media-body">
              <h6 class="font-bold primary-color padding-top">$20,000</h6>
            </div>
          </div>
        </div>
        <div class="col-md-10 col-2 pt-2">
          <em class="icon-error font-medium-4 btn-reverse cursor" data-feather="chevron-right"></em>
        </div>
      </div>
      <hr class="mb-3 mt-2" />

      <div class="row">
        <!-- <div class="col-md-12 display-flex">
          <ngb-progressbar type="success" class="col-md-2 col-10 p-0 progress-bar-success" [value]="45"></ngb-progressbar>
         <span class="font-bold ml-1 p-0">25%</span>
      </div> -->

          <div class="col-md-12 mt-1 custom-div">
            <img width="25" height="25" class="image-spinner" src="../../../../../assets/images/payments/spinner.svg" alt="" />
            <div>
              <h5 class="Fo-16 font-bold FW-700"> Loan repayment progress </h5>
              <span>The following payments are due on your loan, please make sure you have enough funds!</span>
            </div>
          
          </div>
          <div class="col-md-12 ml-2 mt-1">
        </div>
      </div>


      <div class="row mt-3">
        <div class="col-md-5 col-5">
          <h5 class="font-bold">Due amount</h5>
          <h6 class="font-bold due-dates">Due date</h6>
        </div>
        <div class="col-md-6 col-5 end-div-dates">
          <h5 class="font-bold ">$500</h5>
          <h6 class="font-bold due-dates">05/07/2022</h6>
        </div>
        <div class="col-md-1 col-1 mt-md-0 ml-md-0 mt-1 ml-1">
          <em class="icon-error font-medium-4 btn-reverse cursor" data-feather="chevron-right"></em>
        </div>

      </div>
      <hr class="mb-md-3 mb-1 mb-2" />

      <div class="row">
        <div class="col-md-12">
          <h6 class="btn-reverse mobile-view primary-color cursor font-bold pt-md-1" (click)="next()"><i
              data-feather="arrow-up-right"></i> View my loan agreement</h6>
        </div>
      </div>
      <!-- <div class="meetup-header d-flex align-items-center">
        <div class="my-auto">
          <p class="card-text mb-0">Last update</p>
          <span class="card-title card-title-one mb-20 primary-color">05/07/2022</span>
        </div>
      </div>
      <div class="my-auto">
        <h6 class="card-title mb-1 mt-2 primary-color">Congratulations!</h6>
        <p class="card-text mb-0">Your loan amount is now being processed and will be available in your account soon</p>
      </div> -->



    </div>

  </div>
</div>