<div>
  <h4 class="font-bold mb-2">Company Profile</h4>
  <div class="row mb-md-3 pl-1">
    <span class="pd-tp-3">Looking to modify your details</span>
    <button type="button" class="btn btn-primary contactus">Contact us</button>
  </div>

  <div class="tabs mb-2">
    <div class="card-body">
      <ul ngbNav #nav="ngbNav" class="nav-tabs mb-0">
        <li ngbNavItem>
          <a ngbNavLink>Business Details</a>
          <ng-template ngbNavContent class="mt-0">
       
            <div class="card-body p-0">
              <ul ngbNav #nav="ngbNav" class="nav-tabs mt-0 custom-border">
                <li ngbNavItem>
                  <a ngbNavLink>Information</a>
                  <ng-template ngbNavContent>
                    <div class="info mt-2">
                      <span>You can only change your phone number or your email ID, but you can still contact us for more
                        information</span>
                    </div>
                    <form #accountDetailsForm="ngForm">
                      <div class="row mt-2">
                        <div class="form-group col-md-4">
                          <label class="form-label Fo-14" for="username"> Business Name </label>
                          <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
                            class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
                            placeholder="Business Name" />
                          <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
                          </span>
                        </div>
                  
                        <div class="form-group col-md-4">
                          <label class="form-label Fo-14" for="email">Incorporation Type</label>
                          <select class="form-control input-form" placeholder="Select" id="basicSelect">
                            <option>IT</option>
                            <option>Blade Runner</option>
                            <option>Thor Ragnarok</option>
                          </select>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="form-label Fo-14" for="username">Incorporation Date</label>
                          <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
                            class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
                            placeholder="01/01/2022" />
                          <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
                          </span>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="form-label Fo-14" for="email">Business Category</label>
                          <select class="form-control input-form" placeholder="Select" id="basicSelect">
                            <option>Ecommerce</option>
                            <option>Blade Runner</option>
                            <option>Thor Ragnarok</option>
                          </select>
                        </div>

                        <div class="form-group col-md-4">
                          <label class="form-label Fo-14" for="email">Trading Type</label>
                          <select class="form-control input-form" placeholder="Select" id="basicSelect">
                            <option>Type</option>
                            <option>Blade Runner</option>
                            <option>Thor Ragnarok</option>
                          </select>
                        </div>
                  
                        <div class="form-group col-md-4">
                          <label class="form-label Fo-14" for="username">Count of Retail outlets, if applicable </label>
                          <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
                            class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
                            placeholder="5" />
                          <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
                          </span>
                        </div>
                      </div>
                    </form>

                    <hr class="mb-3 mt-2" />
                    <div class="row">
                      <div class="justify-content-between col-md-12 fooder-div-btn">
                        <button type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5" rippleEffect>
                          <span  class="align-middle d-sm-inline-block ">Save</span><i data-feather="save"
                            class="align-middle ml-sm-25 ml-0"></i>
                        </button>
                      </div>
                    </div>




                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-0"></div>
            </div>



          </ng-template>
        </li>
        <li ngbNavItem>
          <a ngbNavLink>Personal Information</a>
          <ng-template ngbNavContent>
            <div class="card-body p-0">
              <ul ngbNav #nav="ngbNav" class="nav-tabs mt-0 custom-border">
                <li ngbNavItem>
                  <a ngbNavLink>Information</a>
                  <ng-template ngbNavContent>

                 
                 
                 
                 
                 
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>Business Address</a>
                  <ng-template ngbNavContent>
                    <p>
               
                    </p>
                  </ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="nav" class="mt-0"></div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="mt-0"></div>
    </div>
  </div>


</div>