<app-stepper [index]="4" [title]="'Business Details'" [subTitle]="'Other Information'" [nextTitle]="'E-commerce Information'"></app-stepper>

<div class="stepper-pages">
  <form #accountDetailsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-6">
        <label class="form-label Fo-14" for="username">How many years of experience do you have in the current industry?</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Years of expereince" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div >

      <div class="form-group col-md-6">
        <label class="form-label Fo-14" for="username">How many employees do you have? (on company sponsorship) *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Number of employees" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label class="form-label Fo-14" for="username">Do you have a website?</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="www" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-6">
        <label class="form-label Fo-14" for="email">Type of Office/Shop? *</label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
            <label class="custom-control-label" for="customRadio1">Owned </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
            <label class="custom-control-label" for="customRadio2">Rented/Leased</label>
          </div>
        </div>
      </div>
    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block">Previous</span>
      </button>

        <button (click)="next()" type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
          <span class="align-middle d-sm-inline-block">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>
