<div>
  <h4 class="font-bold mb-2">Uploaded Documents</h4>

  <div class="doc-download mb-2">
    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Loan agreement</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3">
          <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
      <hr class="col-md-12 mb-2 mt-0" />
    </div>

    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Direct Debit form</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3">
        <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
      <hr class="col-md-12 mb-2 mt-0" />
    </div>

    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Company License</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3">
        <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
      <hr class="col-md-12 mb-2 mt-0" />
    </div>


    <div class="row">
      <div class="col-md-6 col-9">
        <h5 class="p-1 font-bold">Bank Statements</h5>
      </div>
      <div class="col-md-6 col-3 pt-1 pr-3">
        <img class="btn-reverse" src="../../../../../assets/images/payments/download.svg" alt="download" />
      </div>
      <hr class="col-md-12 mb-2 mt-0" />
    </div>



  </div>
</div>