<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="col-md-1 mobile-hiden"></div>
    <div class="d-none d-lg-flex col-md-4 align-items-center pb-5 pl-5 pt-0">
      <div class="w-100 d-lg-flex align-items-center justify-content-center logo-div pl-2">
        <div class="row ">
          <div class="col-md-12">
            <img [src]="'assets/images/logo/logo.svg'" alt="Login V2" />
          </div>
          <div class="col-md-12">
            <h4 class="mt-3 Fo-20 font-bold LH-31">Small Business Loans in UAE</h4>
            <p class="Fo-16 font-bold LH-21 normal-color">Quick and Easy Access to Finance for growing Businesses.</p>
          </div>
          <div class="col-md-6">
            <hr class="mt-2" />
          </div>
          <div class="col-md-12">
            <p class="Fo-14 font-bold LH-18 mt-1 ">Featured In</p>
          </div>

          <div class="col-md-12 pt-4 pl-4">
              <img src="../../../../assets/images/payments/buss-logo.png" alt="bussiness" />
          </div>
          <div class="col-md-12 pl-4 pt-1">
            <span class="Fo-14 LH-18">Lörem ipsum semihet ladilig obös etiheten. Jabel semivision. </span>
          </div>

        </div>
        <div class="row">
         
        </div>
      </div>
    </div>
    <!-- /Left Text-->
    <div class=" col-md-1 mobile-hiden"></div>
    <div class=" col-md-1 mobile-hiden"></div>

    <!-- Login-->
    <div class="d-flex col-md-4 align-items-center auth-bg pr-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-10 mr-5 mx-auto operation-div logo-div">
        <router-outlet></router-outlet>
        <!-- <app-login-page></app-login-page> -->
        <!-- <app-register-page></app-register-page> -->
        <!-- <app-consent-page></app-consent-page> -->
      </div>
    </div>
    <!-- /Login-->
    <div class="col-md-1 mobile-hiden"></div>


  </div>
</div>