<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center pb-5 pl-5 pt-0">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5 logo-div">
        <div class="row px-5">
          <div class="col-md-12">
            <img [src]="'assets/images/logo/logo.svg'" alt="Login V2" />
          </div>
          <div class="col-md-12">
            <h4 class="font-bold mt-3 Fo-20">Small Business Loans in UAE</h4>
            <p class="font-bold Fo-12">Quick and Easy Access to Finance for growing Businesses.</p>
          </div>
          <div class="col-md-12">
            <hr class="mt-2" />
          </div>
          <div class="col-md-12">
            <p class="font-bold mt-1">Featured In</p>
          </div>

          <div class="col-md-12 pt-4 pl-4">
              <img src="../../../../assets/images/payments/buss-logo.png" alt="bussiness" />
          </div>
          <div class="col-md-12  pl-4">
            <span>Lörem ipsum semihet ladilig obös etiheten. Jabel semivision. </span>
          </div>

        </div>
        <div class="row">
         
        </div>
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Login-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto operation-div">
        <app-login-page></app-login-page>
        <!-- <app-register-page></app-register-page> -->
        <!-- <app-consent-page></app-consent-page> -->
      </div>
    </div>
    <!-- /Login-->
  </div>
</div>