<app-stepper [headerTitle]="'Now let’s fill in your personal Information'" [index]="5" [title]="'Personal Details'"
  [subTitle]="'Identifcation'" [nextTitle]="'Contact Information'" [prevPageURL]="'kyc/personalinfo'">
</app-stepper>

<div class="stepper-pages">
  <form [formGroup]="infoForm" (ngSubmit)="onSubmit()">
    <div class="row">

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="emiratesID">Emirates ID *</label>
        <input type="number" name="emiratesID" id="emiratesID" class="form-control input-form"
          formControlName='emiratesID' [ngClass]="{ 'is-invalid': submitted && f.emiratesID.errors }"
          placeholder="Number of outlets" />

        <div *ngIf="submitted && f.emiratesID.errors" class="invalid-feedback">
          <div *ngIf="f.emiratesID.errors.required">This field is required</div>
        </div>
      </div>


      <div class="form-group col-md-4">
        <label for="emiratesIDExpiryDate">Expiry Date of Emirates ID *</label>
        <ng2-flatpickr formControlName='emiratesIDExpiryDate' [setDate]="emirateExpDate"
          [config]="emiratesIDExpiryDateOptions" id="emiratesIDExpiryDate" name="emiratesIDExpiryDate"
          placeholder="MM/DD/YYYY" [ngClass]="{ 'is-invalid': submitted && f.emiratesIDExpiryDate.errors }">
        </ng2-flatpickr>
        <div *ngIf="submitted && f.emiratesIDExpiryDate.errors" class="invalid-feedback">
          <div *ngIf="f.emiratesIDExpiryDate.errors.required">This field is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="fullName">First Name, Last Name *</label>
        <input formControlName='fullName' [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" type="text"
          name="fullName" id="fullName" class="form-control input-form" placeholder="John Smith" />
        <span *ngIf="submitted && f.fullName.errors" class="invalid-form">
          <small class="form-text text-danger" *ngIf="f.fullName.errors.required">This field is required</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label for="nationality">Nationality *</label>
        <select id="nationality" formControlName="nationality" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.nationality.errors }" placeholder='Select'>
          <option value="" [selected]="true" [disabled]="true">Select Type</option>
          <option value="{{item.id}}" *ngFor="let item of nationalities">{{item.description}}</option>
        </select>
        <div *ngIf="submitted && f.nationality.errors" class="invalid-feedback">
          <div *ngIf="f.nationality.errors.required">Nationality is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="passportNumber">Passport Number *</label>
        <input formControlName='passportNumber' [ngClass]="{ 'is-invalid': submitted && f.passportNumber.errors }"
          type="text" name="passportNumber" id="passportNumber" class="form-control input-form"
          placeholder="Your passport number" />
        <span *ngIf="submitted && f.passportNumber.errors" class="invalid-form">
          <small class="form-text text-danger" *ngIf="f.passportNumber.errors.required">This field is required</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label for="dateOfBirth">Date of Birth *</label>
        <ng2-flatpickr formControlName='dateOfBirth' [setDate]="birthDate" [config]="dateOfBirthOptions"
          id="dateOfBirth" name="dateOfBirth" placeholder="MM-DD-YYYY"
          [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }">
        </ng2-flatpickr>
        <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
          <div *ngIf="f.dateOfBirth.errors.required">This field is required</div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="yearsInUAE">How long have you been in the UAE? *</label>
        <input type="number" name="yearsInUAE" id="yearsInUAE" class="form-control input-form"
          formControlName='yearsInUAE' [ngClass]="{ 'is-invalid': submitted && f.yearsInUAE.errors }"
          placeholder="Number of outlets" />

        <div *ngIf="submitted && f.yearsInUAE.errors" class="invalid-feedback">
          <div *ngIf="f.yearsInUAE.errors.required">This field is required</div>
        </div>
      </div>

      <div class="form-group col-md-8">
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14 pb-md-1" for="email">Residency Status *</label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input formControlName="residencyStatus" value="resident" type="radio" id="resident" name="residencyStatus"
              class="custom-control-input" />
            <label class="custom-control-label" for="resident">Resident</label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input formControlName="residencyStatus" value="uae-national" type="radio" id="uae-national"
              name="residencyStatus" class="custom-control-input" />
            <label class="custom-control-label" for="uae-national">UAE National</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14 pb-md-1" for="email">Gender *</label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input formControlName="gender" value="male" type="radio" id="male" name="gender"
              class="custom-control-input" checked />
            <label class="custom-control-label" for="male">Male </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input formControlName="gender" value="female" type="radio" id="female" name="gender"
              class="custom-control-input" />
            <label class="custom-control-label" for="female">Female</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
      </div>

      <div class="form-group col-md-12">
        <label class="form-label Fo-14 pb-md-1" for="email">For the purposes of the U.S. Foreign Account Tax Compliance
          Act (FATCA) and following the regulations, please select one of the following declarations: *</label>
        <div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1 pb-1">
            <input formControlName="usCitizin" value="false" type="radio" id="false" name="usCitizin"
              class="custom-control-input" />
            <label class="custom-control-label" for="false">No, I am not a U.S. citizen or a U.S. tax resident
            </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input formControlName="usCitizin" value="true" type="radio" id="true" name="usCitizin"
              class="custom-control-input" />
            <label class="custom-control-label" for="true">Yes, I am a U.S. citizen or a U.S. tax
              resident</label>
          </div>
        </div>
      </div>


    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button (click)="back()" class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
          <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
          <span class="align-middle d-sm-inline-block">Previous</span>
        </button>

        <button type="submit" [disabled]="loading" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5"
          rippleEffect>
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          <span class="align-middle d-sm-inline-block ">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>