<app-stepper [index]="5" [title]="'Personal Details'" [subTitle]="'Identifcation'" [nextTitle]="'Contact Information'"></app-stepper>

<div class="stepper-pages">
  <form #accountDetailsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Emirates ID *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="000-000-000-000-0000" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Expiry Date of Emirates ID *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="MM/DD/YYYY" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">First Name,  Last Name *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="John Smith " />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Nationality *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Your Nationality" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Passport Number *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Your passport number" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Date of Birth *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="MM/DD/YYYY" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">How long have you been in the UAE? *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="MM/DD/YYYY" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-8">
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14 pb-md-1" for="email">Residency Status *</label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
            <label class="custom-control-label" for="customRadio1">Resident </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
            <label class="custom-control-label" for="customRadio2">UAE National</label>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14 pb-md-1" for="email">Gender *</label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
            <label class="custom-control-label" for="customRadio1">Male </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
            <label class="custom-control-label" for="customRadio2">Feamle</label>
          </div>
        </div>
      </div>
      <div class="form-group col-md-4">
      </div>

      <div class="form-group col-md-12">
        <label class="form-label Fo-14 pb-md-1" for="email">For the purposes of the U.S. Foreign Account Tax Compliance Act (FATCA) and following the regulations, please select one of the following declarations: *</label>
        <div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1 pb-1">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
            <label class="custom-control-label" for="customRadio1">No, I am not a U.S. citizen or a U.S. tax resident </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
            <label class="custom-control-label" for="customRadio2">Yes, I am a U.S. citizen or a U.S. tax resident</label>
          </div>
        </div>
      </div>


    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button (click)="back()"  class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block">Previous</span>
      </button>

        <button (click)="next()" type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
          <span class="align-middle d-sm-inline-block ">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>
