<app-stepper [isHidden]="true"></app-stepper>

<div class="stepper-pages">
  <hr class="mb-2" />

  <h5 class="font-bold mb-1">Consent</h5>
  <form #accountDetailsForm="ngForm">
    <div class="row">
      <div class="form-group col-md-12 mb-1">
        <label class="form-label Fo-14" for="email">I CONFIRM that I am authorized to act on behalf of the company and all its partners / shareholders to apply for loan, execute documents, and provide all warranties and declarations to LNDDO. </label>
        <div class="display-flex">
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked />
            <label class="custom-control-label" for="customRadio1">Yes </label>
          </div>
          <div class="custom-control custom-radio mr-md-1 mt-md-0 mt-1">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input" />
            <label class="custom-control-label" for="customRadio2">No</label>
          </div>
        </div>
      </div>

      <hr class="col-12 mb-2 mt-2" />

      <label class="form-label col-md-12 mb-md-1 mt-md-1 Fo-14">Please Provide details of the authorized signatory at the company to complete the next steps. </label>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Full Name *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="John Smith " />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Phone Number *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="05xxxxxxx" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>

      <div class="form-group col-md-4">
        <label class="form-label Fo-14" for="username">Email ID` *</label>
        <input [(ngModel)]="TDNameVar" #TDNameRef="ngModel" required type="text" name="username" id="username"
          class="form-control input-form" [class.error]="!TDNameRef.valid && accountDetailsForm.submitted"
          placeholder="Your email address" />
        <span *ngIf="accountDetailsForm.submitted && TDNameRef.invalid" class="invalid-form">
          <small class="form-text text-danger" *ngIf="TDNameRef.errors.required">This field is required!</small>
        </span>
      </div>




    </div>

    <hr class="mb-3 mt-2" />
    <div class="row">
      <div class="justify-content-between col-md-12">
        <button (click)="back()"  class="btn btn-outline-secondary btn-prev mobile-btn-p-back" rippleEffect>
        <i data-feather="arrow-left" class="align-middle mr-sm-25 mr-0"></i>
        <span class="align-middle d-sm-inline-block">Previous</span>
      </button>

        <button (click)="next()" type="submit" class="btn btn-primary btn-next btn-reverse pl-md-5 pr-md-5 mobile-btn-p-next" rippleEffect>
          <span class="align-middle d-sm-inline-block">Next</span><i data-feather="arrow-right"
            class="align-middle ml-sm-25 ml-0"></i>
        </button>
      </div>
    </div>
  </form>
</div>
